* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(2, 0, 36);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(2,0,36,1)), to(rgba(0,212,255,1))) fixed;
    background-size: cover;
}

.cont {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.65);
}

.explorer {
    top: 50%;
    width: 70%;
    height: 100%;
}

.explorer-title {
    margin-top: 2em;
}

.explorer-subtitle {
    margin-bottom: 2em;
    font-size: 14px;
}

.explorer-desc {
    margin-bottom: 2em;
}

.informacoes {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 50% 50% 0 0;
}

.inpSearch {
    border: solid 1px;
    padding: 1% 1%;
    border-radius: 15px;
    width: 70%;
}

.btnSearch {
    font-size: 15px;
    padding: 0.5em 0.8em;
    color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.btnSearch:hover {
    border: 2px solid black;
    color: rgb(0, 0, 0);
}

#resultados {
    text-align: left;
    margin: 8%;
}

#resultados span {
    font-weight: bold;
    margin-right: 10px;
}

#result-word {
    margin-top: 15%;
    margin-bottom: 5%;
    text-transform: capitalize;
    color: black;
    border-bottom: 2px solid rgba(0, 0, 255, 0.062);
}

#desc-word {
    text-align: left;
}

#desc-alert {
    color: red;
    font-size: 14px;
    text-align: center;
}

footer {
    color: white;
    opacity: 40%;
    display: block;
    left: 0;
    bottom: 0;
    padding: 10% 5% 5% 5%;
    width: 100%;
    text-align: right;
    font-size: 14px;
}

.fixed{
    position: fixed;
}

footer:hover{
    transition: 0.3s;
    opacity: 70%;
}

.footer-links {
    font-size: 25px;
}

.link-item {
    padding: 0.12em 0.35em;
    border: 0.5px solid white;
    border-radius: 50%;
    color: white;
}

.link-item:hover {
    background-color: white;
    color: gray;
    transition: 0.3s;
}

@media (max-width:1000px) {
    .container {
        margin-left: 50%;
        margin-right: 50%;
        flex-direction: column;
    }
    .explorer {
        width: 100%;
        height: 100%;
    }
    .cont {
        width: 80%;
    }
}